<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

    <configSections>
        <section name="nhv-configuration" type="NHibernate.Validator.Cfg.ConfigurationSectionHandler, NHibernate.Validator" />
    </configSections>

    <nhv-configuration xmlns='urn:nhv-configuration-1.0'>
        <shared_engine_provider  class='NHibernate.Validator.Event.NHibernateSharedEngineProvider, NHibernate.Validator'/>
    </nhv-configuration>
    
    <system.web>
        <compilation debug="true" targetFramework="4.0"/>
        <httpHandlers>
            <add verb="*" path="ndwr/*.js" type="NDWR.Handler.AjaxScriptHandler,NDWR"/>
            <add verb="*" path="ndwr/remote.ndwr" type="NDWR.Handler.RemoteServiceHandler,NDWR"/>
        </httpHandlers>
    </system.web>
</configuration>